*.class
*.log

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.idea
.project
*.iml

alternateLocation/
/Q1*/libs/
libs/
.settings/
/Q1*/.cache
/Q1*/.classpath
/Q1*/.settings/
/Q1*/data/output-*
.DS_Store 
/libs
.gitignore~
*~

